<div class="workspace">
  <div class="workspace-title">
    Task workspace
    <mat-divider></mat-divider>
  </div>
  <div class="workspace-controls">
    <button mat-raised-button color="primary" (click)="append()">Append</button>
  </div>
  <div class="workspace-active-filter">
    <!--
    <mat-button-toggle-group name="activeFilter" aria-label="Font Style">
      <mat-button-toggle value="active">Active</mat-button-toggle>
      <mat-button-toggle value="all">All</mat-button-toggle>
    </mat-button-toggle-group>
    -->
    <button mat-button [color]="filter == 'active' ? 'primary' : ''" (click)="changeFilter('active')">Active</button>
    <button mat-button [color]="filter == 'all' ? 'primary' : ''" (click)="changeFilter('all')">All</button>
  </div>
  <div class="workspace-table">
    <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
      <ng-container matColumnDef="taskModelId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let task"><button mat-button (click)="editTask(task.taskModelId)" title="Edit task by ID: {{task.taskModelId}}">{{task.taskModelId}}</button></td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let task"> {{task.title}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let task"> {{task.taskStatusModelName}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let task"> {{task.startDate | date:"dd.MM.yy hh:mm:ss"}} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let task"> {{task.endDate | date:"dd.MM.yy hh:mm:ss"}} </td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let task"> {{task.createdDate | date:"dd.MM.yy hh:mm:ss"}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Edit" (click)="editTask(task.taskModelId)" title="Edit task by ID: {{task.taskModelId}}">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Remove" (click)="deleteTask(task.taskModelId)">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator #taskPaginator [pageSize]="10" [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
</div>
