<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dataSource"><em>Loading...</em></p>

<table mat-table [dataSource]="dataSource" *ngIf="dataSource">
  <ng-container matColumnDef="dateFormatted">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.dateFormatted}} </td>
  </ng-container>
  <ng-container matColumnDef="temperatureC">
    <th mat-header-cell *matHeaderCellDef> Temp. (C) </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.temperatureC}} </td>
  </ng-container>
  <ng-container matColumnDef="temperatureF">
    <th mat-header-cell *matHeaderCellDef> Temp. (F) </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.temperatureF}} </td>
  </ng-container>
  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef> Summary </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.summary}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<mat-paginator #weatherPaginator [pageSize]="2" [pageSizeOptions]="[2, 3]"></mat-paginator>
